#wrapper {
    width: 960px;
    min-height: 600px;
    display: flex;
}
/*============ LEFT SIDE ==============*/
.left-side {
    background-color: rgb(226, 223, 218);
    padding: 20px;
    margin: 20px 0px 20px;
}

/*========== PROFILE =============*/
.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: -20px; 
}

.name {
    font-size: 22px;
}

.title-job {
    margin: -20px;
} 

/*============= CONTACT ================*/
.contact-list {
    padding: -20px;
    margin: 40px -40px 20px;
}

/*============ ABOUT ME ===============*/
.about-me {
    width: 400px;
}

/*============== LANGUAGES AND SKILLS =============*/
.skill-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.skill-name {
    padding-right: 30px;
}

/*============= INTERESTS ===================*/
.interest-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px -20px 0px -50px;
}

.interest-name {
    padding-right: 10px;
}

/*================ RIGHT SIDE =============*/
.right-side {
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px 0px 20px;
}

/*============= EDUCATION ==============*/


/*============ PROJECTS ===============*/


/*============ ACTIVITIES ==============*/
